.big_text {
    color: white;
    text-transform: uppercase;
    margin-top: 8.75rem;
    text-align: center;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    font-size: 1.25rem;
    letter-spacing: 0.4375rem;
}

@media screen and (min-width: 768px) {
    .big_text {
        margin-top: 13.75rem;;
    }
}