@import "./variables";

.cards {
    margin-top: 4.375rem;
    display: flex;
    width: 100%;
    // max-height: 70px;
    // height: 100%;
    justify-content: center;
    gap: 1.5rem;
    flex-grow: 1;
    // margin-left: 10px;
    // margin-right: 10px;

    .card {
        display: flex;
        flex-direction: column;
        position: relative;
        width: clamp(4.0625rem, 3.1579rem + 4.8246vw, 8.7rem);
        height: clamp(4.0625rem, 3.1579rem + 4.8246vw, 8.7rem);
        // max-width: 7.5rem;
        // max-height: 7.5rem;
        // height: 100%;
        // width: 100%;
        background-image: linear-gradient(to bottom, hsl(235, 24%, 20%) 0%, hsl(235, 24%, 20%) 50%, $topCardCol 50%, $topCardCol 100%);
        text-align: center;
        border-radius: 0.4375rem;
        justify-content: center;
        align-items: center;
        transition: all ease-in-out .5s;
        // justify-content: center;
        -webkit-box-shadow: 0rem 0.375rem 0.0625rem 0rem $bgDarkerCol;
        -moz-box-shadow: 0rem 0.375rem 0.0625rem 0rem $bgDarkerCol;
        box-shadow: 0rem 0.375rem 0.0625rem 0rem $bgDarkerCol;

        // .top,
        // .bottom,
        // .card .top-flip,
        // .card .bottom-flip {
        //     text-align: center;
        //     color: $redCol;
        //     font-size: clamp(2.125rem, 1.7796rem + 1.8421vw, 4.6375rem);
        //     box-sizing: border-box;
        //     height: clamp(4.0625rem, 3.1579rem + 4.8246vw, 8.7rem);
        //     width: clamp(4.0625rem, 3.1579rem + 4.8246vw, 8.7rem);
        //     line-height: 0.9;
        //     padding: 0.45em 0;
        //     overflow: hidden;
        //     display: flex;
        //     justify-content: center;
        // }

        // .top,
        // .card .top-flip {
        // background-color: var(--dark-desatured-blue);
        // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        // border-top-right-radius: 0.5rem;
        // border-top-left-radius: 0.5rem;
        // }
        
        // .bottom,
        // .card .bottom-flip {
        // background-color: var(--dark-desatured-blue);
        // align-items: flex-end;
        // border-bottom-right-radius: 0.5rem;
        // border-bottom-left-radius: 0.5rem;
        // }

        // .card .top-flip {
        // position: absolute;
        // width: 100%;
        // animation: flip-top 250ms ease-in;
        // transform-origin: bottom;
        // }

        // .card .bottom-flip {
        // position: absolute;
        // bottom: 0;
        // width: 100%;
        // animation: flip-bottom 250ms ease-out 250ms;
        // transform-origin: top;
        // transform: rotateX(90deg);
        // }

       


        &::after {
            content:"\A";
            position: absolute;
            height: 0.5rem;
            width: 0.5rem;
            border-radius: 50%;
            right: 0;
            transform: translate(55%, 0%);
            background: #1f1f1f;
        }

        &::before {
            content:"\A";
            position: absolute;
            height: 0.5rem;
            width: 0.5rem;
            border-radius: 50%;
            left: 0;
            transform: translate(-50%, 0%);
            background: #1f1f1f;
        }

        // .top_card {
        //     display: block;
        //     width: 100%;
        //     max-width: 400px;
        //     max-height: 200px;
        //     height: 50%;
        //     background-color: hsl(235, 24%, 20%);
        //     transition: transform 0.8s;

        //     &:hover {
        //         transform: rotateX(180deg);
        //     }
        // }

        // .bottom_card {
        //     display: block;
        //     width: 100%;
        //     max-width: 400px;
        //     max-height: 200px;
        //     height: 50%;
        //     background-color: $topCardCol;
        // }

        .number {
            font-size: clamp(2.125rem, 1.7796rem + 1.8421vw, 4.6375rem);
            display: flex;
            align-items: center;
            color: $redCol;
            max-width: 40px;
            width: 100%;
            justify-content: center;

        }

        
    }
}

@keyframes flip-top {
    100% {
      transform: rotateX(90deg);
    }
}
  
@keyframes flip-bottom {
    100% {
      transform: rotateX(0deg);
    }
}


.under__content {
    font-size: clamp(0.625rem, 0.625rem + 0.3vw, 1.1rem);
    // font-size: 0.625rem;
    margin-top: 1.25rem;
    letter-spacing: 0.125rem;
    color: hsl(237, 18%, 59%);
    text-align: center;
}


.days__under {
    content: "DAYS";
    display: block;
    color: hsl(237, 18%, 59%);
}

.hours__under {
    content: "HOURS";
    display: block;
    color: hsl(237, 18%, 59%);
}

.minutes__under {
    content: "MINUTES";
    color: hsl(237, 18%, 59%);
}

.seconds__content {
    content: "SECONDS";
    display: block;
    color: hsl(237, 18%, 59%);
}

